.navbar-header .page-scroll {
    color: black;
}
.team {
    padding-top: 24px;
}
.mz-module {
    margin-top: 50px;
}
.hero {
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    clip-path: polygon(0 0, 100% 100%, 100% 0);


}
.hero-m {
    margin-top: -363PX;
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    clip-path: polygon(0 0, 100% 100%, 0 100%);



}
.effect-bubba {
    border-radius: 10px;
}

.item {
    margin-top: 87px;
}